.TextInput {
    font-size:x-large;
    border: 1px solid #EEEEEE;
    padding: 15px;
    border-radius: 3px;
    display: block;
    margin: 15px auto;
}

.TextInput:focus {
    outline: none;
    border-color: #719ECE;
    box-shadow: 0 0 10px rgb(50, 100, 153);
    margin-left: auto;
    margin-bottom: 20px;
}

.Radio {
    font-size: medium;
}

.rad {
    color:#4897eb;
}

.Form {
    padding: 5rem;
    vertical-align: middle;
    display:flexbox;
    height: 100px;
}

.Button {
    display: block;
    margin: 30px auto;
    padding: .5rem;
    font-size: 1em;
    background: grey;
    border-radius: 5px;
    color: white;
    cursor: pointer;

}